<section class="vbox">          
  <section class="scrollable padder">
    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
      <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="#">Definições</a></li>
      <li><a class="active">Utilizador</a></li>
    </ul>
    <div class="m-b-md">
      <h3 class="m-b-none">Utilizadores</h3>
    </div>
    
    <section class="panel panel-default">
      <header class="panel-heading">
        DataTables 
        <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> 
        <a style="float: right; margin-top: -6px;" href="/utilizador/adicionar" class="btn btn-sm btn-default">
          <i class="fa fa-plus text"></i>
          <span class="text">Adicionar</span>
          <i class="fa fa-minus text-active"></i>
          <span class="text-active">Less</span>
        </a>
      </header>
      <div class="table-responsive">
        <table class="table table-striped m-b-none" id="DataTables_Table_0">
          <thead>
            <tr>
              <th width="15%">Nome</th>
              <th width="25%">Email</th>
              <th width="20%">Nivel Acesso</th>
              <th width="25%">Data</th>
              <th width="15%" style="text-align: center">ações</th>
            </tr>
          </thead>
          <tbody>
              {{#each users }}
              <tr>
                <td>{{ displayName }}</td>
                <td>{{ email }}</td>
                <td>{{ previlegio.nome }}</td>
                <td>{{ previlegio.timestamp }}</td>
                <td style="text-align: center">
                  <a href="/utilizador/{{ id }}" class="btn btn-sm btn-icon btn-info"><i class="fa fa-edit"></i></a>
                  <a href="#" class="btn btn-sm btn-icon btn-success"><i class="fa fa-search"></i></a>
                  <a href="/utilizador/delete/{{ id }}" class="btn btn-sm btn-icon btn-danger"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  </section>
</section>

<script src="../js/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="../js/app/utilizador/script.js"></script>
<script>
  $('#DataTables_Table_0').DataTable();
</script>